# Node modules
node_modules

# Next.js build output
.next/

# TypeScript incremental cache
*.tsbuildinfo

# Local generated PDFs
out*.pdf

# Env files (if you use them)
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*